<link href="https://fonts.googleapis.com/css?family=Exo+2|Hind+Madurai|Source+Serif+Pro|Varela+Round" rel="stylesheet">

.navbar {
	margin: 0;
	padding: 0;}
	
.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	position: fixed;
	top: 0;
	width: 100%;}

.navbar li {
	float: left;}
	
.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;}
	
.navbar li a:hover:not(.active) {
	background-color: #222;}
	
.navbar .active {
	background-color: #C5B358;}
   
body{
	background-color: #e2e2e2;
	background-image: linear-gradient(to bottom right, white, gray);
	font-family: 'varela round', helvetica;
	font-weight: normal;
	color: #08357c;
	text-align: left;
}

.main {
	margin-top: 60px;

}

td{
	font-size:14pt;
	color:black;
	font-family: cabin, georgia,garamond,serif;
	text-align:left;
}

input{
	font-size:14pt;
	color:grey;
	font-family: 'permanent marker', georgia,garamond,serif;
	text-align:center;
}

.formbox {
	max-width: 100%;
	margin: auto;
}

.formbox table {

	margin: auto;
	padding: 1rem;
}

.formbox tr td{
	text-align: right;	
	font-family: 'Hind Madurai', sans-serif;
	font-style: normal;
	font-size: 1em;
	color: maroon;
}

.divTwo select {
	font-family: 'Hind Madurai', sans-serif;
	font-style: italic;
	font-size: .875em;
	color: #696969;
}
	
.formboxtable {
	width: 80%;
	margin: auto;
}	
	
.formbox textarea {
	font-family: 'Hind Madurai', sans-serif;
	font-style: italic;
	font-size: .6em;
	color: #696969;
}

.divTwo {
	max-width: 100%;
	margin: auto;
}

.divTwo h1, h3 {
	color: maroon;
	text-align: center;
}

.divTwo tr td {
	text-align: center;
	font-family: 'Hind Madurai', sans-serif;
	font-style: normal;
	font-size: 1em;
	color: maroon;
}
.divTwo input:hover {
	outline: solid 3px red;
}

.divTwo form input:focus {
	outline: solid 3px gold;
}

.divTwo input {
	color: maroon;
}

.divTwo table {
	width: 100px;
	text-align: center;
	margin: auto;
	padding: 1rem;
}

h1 {
	text-align: center;
	color: maroon;
}



